@import '../../../stylesheets/globals.css';

.canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.control {
  margin-top: 16px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  width: 700px;
}
.control .outline-button {
  width: 128px;
}

.info {
  padding: 16px;
}